/* universal styles */
body {
    background-color: lightblue;
}

/* navbar highscore styles */
.highscores {
    color: black;
    text-decoration: none;
}

/* body container styles */
.body-container {
    text-align: center;
    align-content: center;
}

.card {
    background-color: rgb(231, 231, 231);
}